.image{
    width: 200px;
    height: 50px;
    padding-top: 5px;
    margin-left: 10px;
  }
  .header{
    width: 100%;
    height: 60px;
    background-color: #e5e5e5;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
   .barButtons{
      display: flex;
      flex-direction: row;
   }

   @media screen and (min-width: 280px) and (max-width:1080px){
    .header{
      width: 100%;
      height: 60px;
      background-color: #e5e5e5;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }