.sidebar{
  background-image: linear-gradient(green, black);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: sticky;
  padding: 2rem;
  width: 250px
}

.sidebarlist{
  width: 100%;
  height: auto;
  padding: 0;
  
}
.others{
  border: #1bf313 5px solid;
  flex: 4;
  padding-left: 50px;
  padding-right: 50px;
  
}
.sidebarlist .row{
  width: 100%;
  height: 45px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  font-size: small;
  align-items: center;
}

.sidebarlist .row:hover {
  cursor: pointer;
  
}

.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title{
  flex: 70%;
 
}

.table{
  margin: 20px;
    overflow-y: auto;
    
}

.link{
  text-decoration: none;
  color: inherit;
}
.link:hover{
  color: #1bf313;
}
.sideBarList{
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
 
}
/* 
.sidebar{
  background-image: linear-gradient(green, black);
  height:80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars{
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.nav-menu{
  background-image: linear-gradient(green, black);
  width: 250px;
  height: 100vh;
} */