.App{
  display: grid;
  grid-template-rows: auto auto;
  min-height: 100vh;
  height: max-content;
}

body{
  margin: 0;
  padding: 0;
}

input{
  margin-top: 20px;
  margin-left: 20px;
  width: 350px;
  height: 40px;
  font-size: 14px;
  padding-left: 15px;
  border-radius: 8px;
  border-width: thin;
}

.App1{
  flex: 4;
}

@media screen and (min-width: 280px) and (max-width:1080px){
  .HomeMain{
   grid-template-columns: 1fr;
   height: max-content;
  }
}