.App {
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS", sans-serif;
  font-size: medium;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
}

input {
  margin-top: 20px;
  margin-left: 20px;
  width: 350px;
  height: 40px;
  font-size: 14px;
  padding-left: 15px;
  border-radius: 8px;
  border-width: thin;
}

.App1 {
  flex: 4;
  padding: 2em;
}

@media screen and (max-width: 800px) {
  .App {
    width: 100%;
    height: 100%;
    font-family: "Trebuchet MS", sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: column;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
